In [1]:
import pandas as pd
import os
import sys
import numpy as np
import geopandas as gpd
sys.path.append("../../Central_Folder")



from Locations import monthly_transfrom, make_df_shapefile, disease_studied

In [ ]:
a = r'C:\Users\ekoulier\Desktop\Infectious Diseases\Data\Kinkhoest_Data\incidences'

In [24]:
ALL_df = disease_studied()
data = monthly_transfrom(ALL_df)
data.month_method()
data.find_mun()
#data = data.monthly_municipality()

Please Copy and Paste the Data DirectoryC:\Users\ekoulier\Desktop\Infectious Diseases\Data\Kinkhoest_Data\incidences
I will concatenate all the csv files for you.

In [25]:
data.find_GGD()

In [26]:
data.df.head()

     Date PostCode  Count Municipality  GGD
0 2007-10     6021      1  Cranendonck  BZO
1 2004-01     6021      1  Cranendonck  BZO
2 2004-01     6021      1  Cranendonck  BZO
3 2004-01     6021      1  Cranendonck  BZO
4 2004-02     6021      1  Cranendonck  BZO

In [27]:
data.monthly_GGD()

Please Give me the Directry of the Google Trends data: a

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'a'

In [36]:
data.df.GGD.unique()

array(['BZO', 'LIM', 'HVB', 'WB'], dtype=object)

In [42]:
def monthly_GGD(df, GGD_index=True, gTrends=True, Brabant=True):  # df
        """
        A function that creates the pivot pd.DataFrame:
        Month    HVB  WB  BZO
        2004-2    1    3   0
        2004-3    2    0   1
        Parameters
        -------------------------
        df: Pandas DataFrame
            It must have at least two columns named GGD and Date.
            It is the general appended dateframe that has the following format:
            index Municipality Date       Sex     GGD
            0      Oss         2005-8     Man     HVB
            1      Eindhoven   2016-2    Vraouw   BZO
        GGD_index: Bool
            If false the index of the dataframe is the Date it looks like:
            index Date     HVB  BZO  WB
            0     2008-04   1    2    1
            1     2008-05   0    5    6
        gTrends: Bool
            If True the user is asked to provide a the directory of the csv file that
            has the goole trends data. Then the returned DataFrame is looks like:
        """

        try:
            assert 'Municipality' in df.columns
            assert 'Date' in df.columns

            data = df.copy()
            
            if Brabant:
                df = df[df['GGD'].isin(['BZO', 'HVB', 'WB'])].reset_index(drop=True)

            if GGD_index:
                GGD_df = data.pivot_table(index='Date', columns='GGD',
                                          values='Count', aggfunc=np.sum,
                                          fill_value=0)

            else:
                GGD_df = data.pivot_table(index='GGD', columns='Date',
                                          values='Count', aggfunc=np.sum,
                                          fill_value=0)

            GGD_df = pd.DataFrame(GGD_df.to_records())

            if gTrends:
                gTrendsDir = str(input('Please Give me the Directry of the Google Trends data: '))
                os.chdir(gTrendsDir)
                gTrendsData = pd.read_csv('trends.csv')

                # In case the user did not delete the empty gTrends rows.
                if len(gTrendsData.columns) == 1:
                    gTrendsData = pd.read_csv('trends.csv', skiprows=[0, 1])

                gTrendsData.columns = ['Date', 'Trends']
                gTrendsData['Date'] = pd.to_datetime(gTrendsData['Date'], format='%Y-%m').dt.to_period('M')

                GGD_df = pd.merge(GGD_df, gTrendsData, on='Date')

            return GGD_df

        except AssertionError:
            print('There sould be a Date and a GGD column')

In [43]:
a = monthly_GGD(data.df)

Please Give me the Directry of the Google Trends data: C:\Users\ekoulier\Desktop\Infectious Diseases\Data\Kinkhoest_Data\trends

In [44]:
a

       Date  BZO  HVB  LIM  WB  Trends
0   2004-01   20   29    0   3      37
1   2004-02   11   26    0  12       0
2   2004-03   23   43    1   5      48
3   2004-04   44   22    0   8      39
4   2004-05   39   40    1  18       0
5   2004-06   69   61    0  26      32
6   2004-07  104   40    0  45       0
7   2004-08   59   53    0  50      66
8   2004-09   95   36    0  78      25
9   2004-10   52   57    0  28      46
10  2004-11   47   51    0  26      39
11  2004-12   47   56    0  20      17
12  2005-01   38   42    0  24      43
13  2005-02   39   53    0  14      64
14  2005-03   45   42    0  22      41
15  2005-04   31   35    0  25      81
16  2005-05   29   45    0  28       0
17  2005-06   56   34    0  36      15
18  2005-07   49   34    0  16       0
19  2005-08   50   43    0  29      15
20  2005-09   49   45    0  33       0
21  2005-10   28   28    0  33       0
22  2005-11   29   41    0  27      51
23  2005-12   23   35    0  18       0
24  2006-01   33   26    0  19      11
25  2006-02   11   13    0  10      12
26  2006-03   17   18    0  22      20
27  2006-04   18   19    0   8       0
28  2006-05   24   19    0  14      10
29  2006-06   16   17    0  11      12
..      ...  ...  ...  ...  ..     ...
138 2015-07   22   26    0  36      12
139 2015-08   14   42    0  29      21
140 2015-09   22   43    0  53      13
141 2015-10   10   32    0  22      12
142 2015-11   13   30    0  18       8
143 2015-12   20   37    0  11      33
144 2016-01   16   37    0  29      17
145 2016-02   16   42    0  22      20
146 2016-03   20   42    0  25      12
147 2016-04   28   34    0  15      15
148 2016-05   21   41    0  37      14
149 2016-06   29   31    0  32       7
150 2016-07   34   22    0  25      11
151 2016-08   21   27    0  24       5
152 2016-09   29   52    0  25      15
153 2016-10   14   47    0  26      17
154 2016-11   17   42    0  16      25
155 2016-12    9   50    0  17      23
156 2017-01    7   36    0  17      13
157 2017-02    7   51    0  20      12
158 2017-03    4   58    0  21      20
159 2017-04   12   52    1  27      17
160 2017-05   22   39    0  24      15
161 2017-06   13   77    0  19      18
162 2017-07   18   57    0  17       9
163 2017-08   12   44    0  24       4
164 2017-09   11   58    1  36      15
165 2017-10   10   27    0  22      18
166 2017-11   10   23    0  23      16
167 2017-12   13   21    0  16      13

[168 rows x 6 columns]

In [ ]:
shp = make_df_shapefile(data)

In [ ]:
shp.head()

In [ ]:
geojson = shp .to_json()

In [ ]:
cwd = os.getcwd()
os.chdir(r'C:/Users/ekoulier/Desktop/Infectious Diseases/Data/Map')
post_to_mun = pd.read_csv('Post_to_Mun.txt', sep=';')
mun_to_GGD = pd.read_csv('Mun_to_GGD.csv', sep=';')
mun_to_GGD['Municipality'] = mun_to_GGD['Municipality'].replace('Nuenen', 'Nuenen, ' +
                                                                'Gerwen en Nederwetten')
shp_Nether = gpd.read_file(r'C:\Users\ekoulier\Desktop\Infectious Diseases\Data\Map\GEO.Gemeente_2015.shp')
os.chdir(cwd)