In [1]:
import datetime
import geopandas as gpd
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import os

cwd = os.getcwd()

## shp_Brabant

#shp_file = r'GEO.Gemeente_2015.shp'
#shp_Brabant = gpd.read_file(shp_file)

In [2]:
import sys
sys.path.append("../../Central_Folder")
from Locations import monthly_transfrom, make_df_shapefile

cwd = os.getcwd()

os.chdir(r'C:\Users\ekoulier\Desktop\Infectious Diseases\Data\Kinkhoest_Data')
data = pd.read_csv('df_ALL.csv')
os.chdir(cwd)

# Create the shape DataFrame to be used
data = monthly_transfrom(data)
data.first_method()
data.find_mun()
data = data.monthly_municipality()
shp_data = make_df_shapefile(data)

In [3]:
print('Nuenen' in shp_data['Municipality'].unique())
print('Eindhoven' in shp_data['Municipality'].unique())

False
True

In [4]:
os.chdir(r'C:\Users\ekoulier\Desktop\Infectious Diseases\Data\Kinkhoest_Data')
data = pd.read_csv('df_ALL.csv')
os.chdir(cwd)

In [5]:
data.head()

  Age  GGD Municipality        Date  Onset Date  PostCode    Sex Year of Birth
0  16  HVB      Boxmeer  2005-08-04  04-07-2005    5825.0    Man    1989-01-01
1  16  HVB      Boxmeer  2007-09-11  09-07-2007    5825.0  Vrouw    1991-01-01
2  15  HVB      Boxmeer  2008-02-26  22-01-2008    5825.0  Vrouw    1993-01-01
3   9  HVB      Boxmeer  2008-11-09  01-09-2008    5825.0    Man    1999-01-01
4  14  HVB      Boxmeer  2009-09-01  29-07-2009    5825.0  Vrouw    1995-01-01

In [6]:
data = monthly_transfrom(data)

In [7]:
data.first_method()
data.df.head()

,Age,GGD,Municipality,Date,Onset Date,PostCode,Sex,Year of Birth,Count
0,16,HVB,Boxmeer,2005-08,04-07-2005,5825.0,Man,1989-01-01,1
1,16,HVB,Boxmeer,2007-09,09-07-2007,5825.0,Vrouw,1991-01-01,1
2,15,HVB,Boxmeer,2008-02,22-01-2008,5825.0,Vrouw,1993-01-01,1
3,9,HVB,Boxmeer,2008-11,01-09-2008,5825.0,Man,1999-01-01,1
4,14,HVB,Boxmeer,2009-09,29-07-2009,5825.0,Vrouw,1995-01-01,1

In [8]:
print('Nuenen' in data.df['Municipality'].unique())
print( 5671 in data.df['PostCode'].unique())
print( 5671.0 in data.df['PostCode'].unique())
print( 5672.0 in data.df['PostCode'].unique())
print( 5673.0 in data.df['PostCode'].unique())
print( 5674.0 in data.df['PostCode'].unique())
print( 5673.0 in data.df['PostCode'].unique())

False
False
False
False
False
False
False

In [9]:
data.find_mun()
data.df.head()

,Age,GGD,Date,Onset Date,PostCode,Sex,Year of Birth,Count,Municipality
0,16,HVB,2005-08,04-07-2005,5825,Man,1989-01-01,1,Boxmeer
1,16,HVB,2007-09,09-07-2007,5825,Vrouw,1991-01-01,1,Boxmeer
2,15,HVB,2008-02,22-01-2008,5825,Vrouw,1993-01-01,1,Boxmeer
3,9,HVB,2008-11,01-09-2008,5825,Man,1999-01-01,1,Boxmeer
4,14,HVB,2009-09,29-07-2009,5825,Vrouw,1995-01-01,1,Boxmeer

In [10]:
print('Nuenen' in data.df['Municipality'].unique())
print('Eindhoven' in data.df['Municipality'].unique())

False
True

In [11]:
'Neunen' in shp_data['Municipality'].unique()

False

In [12]:
cwd = os.getcwd()

os.chdir(r'C:\Users\ekoulier\Desktop\Infectious Diseases\Data\Kinkhoest_Data')
data = pd.read_csv('df_ALL.csv')
os.chdir(cwd)

# Create the shape DataFrame to be used
data = monthly_transfrom(data)
data.first_method()

In [16]:
cwd = os.getcwd()
os.chdir(r'C:/Users/ekoulier/Desktop/Infectious Diseases/Data/Map')
post_to_mun = pd.read_csv('Post_to_Mun.txt')
mun_to_GGD = pd.read_csv('Mun_to_GGD.csv', sep=';')
shp_Nether = gpd.read_file('GEO.Gemeente_2015.shp')
os.chdir(cwd)

In [17]:
mun_list = mun_to_GGD['Municipality'][mun_to_GGD['GGD'].isin(['BZO', 'HVB', 'WB'])]

In [44]:
temp_dict = {'Municipality': 'Oos'}
for i in ['BZO', 'HVB', 'WB']:
    temp_dict[i] = 0

In [45]:
temp_dict = pd.Series(data=temp_dict)

In [46]:
temp_dict

BZO               0
HVB               0
Municipality    Oos
WB                0
dtype: object

In [40]:
datadata = {'Municipality': ['A', 'B'], 'BZO': [45,34], 'HVB': [22,12], 'WB': [3, 65]}

In [41]:
s2 = pd.DataFrame(data = datadata)

In [42]:
s2

   BZO  HVB Municipality  WB
0   45   22            A   3
1   34   12            B  65

In [47]:
s2.append(temp_dict, ignore_index=True)

   BZO  HVB Municipality  WB
0   45   22            A   3
1   34   12            B  65
2    0    0          Oos   0

In [48]:
s2.columns

Index(['BZO', 'HVB', 'Municipality', 'WB'], dtype='object')

In [31]:
lista = ['Oss']
for i in range(len(['BZO', 'HVB', 'WB'])):
    lista.append(0)

s2 = pd.DataFrame(data = lista, columns=['A', 'B', 'C', 'D'])
s3 = pd.Series(lista, index=['B', 'A', 'C', 'D'])

ValueError: Shape of passed values is (1, 4), indices imply (4, 4)

In [29]:
pd.DataFrame(data = lista, columns=['A', 'B', 'C', 'D'])

     0
A  Oss
B    0
C    0
D    0

In [25]:
s3

B    Oss
A      0
C      0
D      0
dtype: object

In [26]:
s2.append(s3)

A    Oss
B      0
C      0
D      0
B    Oss
A      0
C      0
D      0
dtype: object

In [14]:
'Nuenen' in data['Municipality']

TypeError: 'monthly_transfrom' object is not subscriptable

In [15]:
shp_data['Municipality'].unique()

array(["'s-Hertogenbosch", 'Aalburg', 'Alphen-Chaam', 'Asten',
       'Baarle-Nassau', 'Bergeijk', 'Bergen op Zoom', 'Bernheze', 'Best',
       'Bladel', 'Boekel', 'Boxmeer', 'Boxtel', 'Breda', 'Cranendonck',
       'Cuijk', 'Deurne', 'Dongen', 'Drimmelen', 'Eersel', 'Eindhoven',
       'Etten-Leur', 'Geertruidenberg', 'Geldrop-Mierlo', 'Gemert-Bakel',
       'Gennep', 'Gilze en Rijen', 'Goirle', 'Grave', 'Haaren',
       'Halderberge', 'Heeze-Leende', 'Helmond', 'Heusden', 'Hilvarenbeek',
       'Laarbeek', 'Landerd', 'Loon op Zand', 'Maasdriel', 'Maastricht',
       'Mill en Sint Hubert', 'Moerdijk', 'Oirschot', 'Oisterwijk',
       'Onderbanken', 'Oosterhout', 'Oss', 'Peel en Maas', 'Roosendaal',
       'Rucphen', 'Schijndel', 'Sint Anthonis', 'Sint-Michielsgestel',
       'Sint-Oedenrode', 'Someren', 'Son en Breugel', 'Steenbergen',
       'Tilburg', 'Uden', 'Valkenswaard', 'Veghel', 'Veldhoven', 'Vught',
       'Waalre', 'Waalwijk', 'Werkendam', 'Woensdrecht', 'Woudrichem',
       'Zundert'], dtype=object)

In [ ]:
cwd = os.getcwd()
os.chdir(r'C:/Users/ekoulier/Desktop/Infectious Diseases/Data/Map')

# We replace Neunen because it is called differently
neunen = 'Nuenen, Gerwen en Nederwetten'
post_to_mun = pd.read_csv('Post_to_Mun.txt')
post_to_mun['Municipality'] = post_to_mun['Municipality'].replace({'Nuenen':
                                                                   neunen})

mun_to_GGD = pd.read_csv('Mun_to_GGD.csv', sep=';')
mun_to_GGD['Municipality'] = mun_to_GGD['Municipality'].replace({'Nuenen':
                                                                 neunen})

shp_Nether = gpd.read_file('GEO.Gemeente_2015.shp')

os.chdir(cwd)

columns = shp_Nether.columns
columns = [x for x in columns if x not in ['GMNAAM', 'geometry']]

for column in columns:
    del shp_Nether[column]

shp_Nether.columns = ['Municipality', 'geometry']

# This region is displayed differently in our files
shp_Nether['Municipality'] = shp_Nether['Municipality'].replace('Nuenen, Gerwen en Nederwetten', 'Neunen')

In [ ]:
'Neunen' in shp_Nether['Municipality'].unique().tolist()

In [ ]:
'Eindhoven' in data['Municipality'].unique().tolist()

In [ ]:
import sys
sys.path.append("../../Central_Folder")
from Locations import monthly_transfrom, make_df_shapefile


os.chdir(r'C:\Users\ekoulier\Desktop\Infectious Diseases\Data\Kinkhoest_Data')
data = pd.read_csv('df_ALL.csv')
os.chdir(cwd)

# Create the shape DataFrame to be used
data = monthly_transfrom(data)
data.first_method()
data.find_mun()
data = data.monthly_municipality()

shp_data = make_df_shapefile(data)
column_list = shp_data.columns.tolist()
column_list = [e for e in column_list if e not in
               ('Municipality', 'geometry')]

# Here Starts the Bokeh App