# Using LSTMs

In this Notebook we will try to see if the performance of the LSTMs for this task is comperable to the performance of the simple DNNs.

## Import the libraries and modules

In the two cells below we will import the libraries and the modules developed for this project.

In [1]:
import os 
import sys 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cwd = os.getcwd()
os.chdir(r'C:\Users\ekoulier\Desktop\Deep-Learning-Infectious-Diseases\Central_Folder')
from Locations import MonthlyTransfrom, disease_studied, PrepareTimeDf
os.chdir(cwd)

## Use the module to preprocess the data

In [3]:
data = disease_studied()

Please Copy and Paste the Data Directory: C:\Users\ekoulier\Desktop\Deep-Learning-Infectious-Diseases\Data\Kinkhoest_Data\incidences
I will concatenate all the csv files for you.
The data is merged correctly!

In [4]:
data = MonthlyTransfrom(data)
data.df.head(n=1)

     Date  PostCode  Count
0 2003-12    5731.0    0.0

In [5]:
data.find_mun()
data.df.head(n=1)

     Date PostCode  Count    Municipality
0 2003-12     5731    0.0  Geldrop-Mierlo

In [6]:
data.find_GGD()
data.df.head(n=1)

     Date PostCode  Count    Municipality  GGD
0 2003-12     5731    0.0  Geldrop-Mierlo  BZO

In [7]:
data = data.monthly_GGD()
data.head(n=1)

Please Give me the Directry of the Google Trends data: C:\Users\ekoulier\Desktop\Deep-Learning-Infectious-Diseases\Data\Kinkhoest_Data\trends

        Date  BZO  HVB  WB  Trends
0 2004-01-01   20   29   3      37

In [8]:
data.tail(n=3)

          Date  BZO  HVB  WB  Trends
165 2017-10-01   10   27  22      18
166 2017-11-01   10   23  23      16
167 2017-12-01   13   21  16      13

In [9]:
model_data = PrepareTimeDf(data)
model_data.df.head(n=2)

        Date  BZO  HVB  WB  Trends
0 2004-01-01   20   29   3      37
1 2004-02-01   11   26  12       0

In [10]:
model_data.create_lag()
model_data.df.head(n=2)

C:\Users\ekoulier\Desktop\Deep-Learning-Infectious-Diseases\Central_Folder\Locations.py:367: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[column+'-'+str(lag)] = df[column].shift(lag)
C:\Users\ekoulier\Desktop\Deep-Learning-Infectious-Diseases\Central_Folder\Locations.py:368: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[column+'+1'] = df[column].shift(-1)

,HVB,BZO,WB,Trends,HVB-1,HVB-2,HVB-3,HVB-4,HVB+1,BZO-1,...,BZO-4,BZO+1,WB-1,WB-2,WB-3,WB-4,WB+1,Trends-1,Trends-2,Trends-3
0,40,39,18,0,22.0,43.0,26.0,29.0,61.0,44.0,...,20.0,69.0,8.0,5.0,12.0,3.0,26.0,39.0,48.0,0.0
1,61,69,26,32,40.0,22.0,43.0,26.0,40.0,39.0,...,11.0,104.0,18.0,8.0,5.0,12.0,45.0,0.0,39.0,48.0

In [11]:
model_data.df.tail(n=2)

,HVB,BZO,WB,Trends,HVB-1,HVB-2,HVB-3,HVB-4,HVB+1,BZO-1,...,BZO-4,BZO+1,WB-1,WB-2,WB-3,WB-4,WB+1,Trends-1,Trends-2,Trends-3
161,27,10,22,18,58.0,44.0,57.0,77.0,23.0,11.0,...,13.0,10.0,36.0,24.0,17.0,19.0,23.0,15.0,4.0,9.0
162,23,10,23,16,27.0,58.0,44.0,57.0,21.0,10.0,...,18.0,13.0,22.0,36.0,24.0,17.0,16.0,18.0,15.0,4.0

In [12]:
X_train, X_test, X_val, y_train, y_test, y_val = model_data.split_data()