In [7]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('trends.csv', skiprows=[0,1])
df.columns = ['Date', 'Trends']
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m').dt.to_period('M')
df.head()

     Date  Trends
0 2004-01      37
1 2004-02       0
2 2004-03      48
3 2004-04      39
4 2004-05       0

In [19]:
print(len(df.columns))
df = pd.read_csv('trends.csv')
df.head()

2

           Category: All categories
Month    kinkhoest: (North Brabant)
2004-01                          37
2004-02                           0
2004-03                          48
2004-04                          39

In [17]:
len(df.columns)

1